html{
	scroll-behavior: smooth;
	margin: 0;
}
@font-face{
	font-family: Pacifico;
	src:url("../fonts/Pacifico.ttf");
}
@font-face{
	font-family: OpenSans-Light;
	src:url("../fonts/open-sans/OpenSans-Light.ttf");
}
@font-face{
	font-family: OpenSans-Bold;
	src:url("../fonts/open-sans/OpenSans-Bold.ttf");
}
@font-face{
	font-family: OpenSans-Semibold;
	src:url("../fonts/open-sans/OpenSans-Semibold.ttf");
}

body{
	margin: 0;
}
.body-container{
	text-align: center;
	margin: 0;
	padding: 0;
}
#bg-1{
	box-sizing: border-box;
	margin: 0;
	width: 100vw;
	max-width: 100%;
	background: rgb(23, 18, 40);
	position: absolute;
	z-index: -1;
	border-bottom: 2px solid #fff;
}
#bg-2{
	box-sizing: border-box;
	margin: 0;
	width: 100vw;
	max-width: 100%;
	background: #041771;
	position: absolute;
	z-index: -1;
	border-bottom: 2px solid #fff;
}
#bg-3{
	box-sizing: border-box;
	margin: 0;
	width: 100vw;
	max-width: 100%;
	background: linear-gradient(#12ffff 0%, #cdff12 100%);
	position: absolute;
	z-index: -1;
}
#bg-4{
	box-sizing: border-box;
	margin: 0;
	width: 100vw;
	max-width: 100%;
	background: rgb(23, 18, 40);
	position: absolute;
	z-index: -1;
}
#bg-5{
	box-sizing: border-box;
	margin: 0;
	width: 100vw;
	max-width: 100%;
	background: #000;
	position: absolute;
	z-index: -1;
}
.popup{
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	width: 100vw;
	height: 100vh;
	padding-top: 20px;
}
.popup>.inner{
	margin: 0 auto;
	position: fixed;
	top: 25%;
	left: 40%;
	background: rgba(255, 255, 255, 0.4); 
	padding: 40px;
	border-radius: 10px;
}
.popup>.inner>a>img{
	width: 200px;
	border-radius: 10px;
}
.popup>span{
	font-size: 3em;
	margin-left: 90vw;
	color: #EF476F;
	cursor: pointer;
}
.main-body{
	width: 1000px;
	margin: 0 auto;
}
.logo{
	width: 900px;
}
.header{
	border-bottom: 2px solid #fff;
}

.navigation-body{
	width: 1000px;
}
.navbar-inverse{
	background: #041771;
	border: 0px;
	border-radius: 0;
	text-transform: uppercase;
	font-family: OpenSans-Bold;
	font-weight: bold;
	font-size: 1.23rem;
}
.container-fluid{
	margin: auto;
	padding: 0;
}
.active-link{
	background:#3333ff;
}
.navbar-nav>li{
	border-right: 2px solid #fff;
}
.navbar-nav>li:first-child{
	border-left: 2px solid #fff;
}
.navbar-inverse .navbar-nav>li>a {

	box-sizing: border-box;
    color: #fff;
    padding: 5px 13.3px;
 
}
.dropdown-menu>li{
	border: 0;
}
.navbar{
	min-height: 30px;
	margin-bottom: 2px;
}
.navbar-inverse .navbar-nav>li>a:hover{
	background: #8888ff;
	color: #000;
}
.body-content{
	width: 1000px;
	padding-bottom: 20px;
	margin: auto;
	background: rgb(241, 245, 248);
}
.prev, .next{
	display: inline-block;
	font-size: 28px;
	cursor: pointer;
	color: #fff;
	position: relative;
	left: 50px;
	transition: 0.6s ease;
	border-radius: 0 10px 10px 0;
	padding: 16px;
}
.next{
	left: -50px;
	border-radius: 10px 0 0 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
#slideImg{
	margin-top: 20px;
	width: 810px;
	height: 450px;
	margin: 2% auto;
	border-radius: 10px;
	margin-bottom: 0;
}
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background: rgb(0, 0, 0, 0);
  opacity: 100%;
  border-radius: 50%;
  border: 1px solid #fff;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.outerDot{
	position: relative;
	top: -60px;
	margin-bottom: 0px;
}

.active, .dot:hover {
  background-color: #fff;
  border: 6px solid #fff;
}

.outer-msg{
	background: #fff;
	margin: 2%;
	padding:2%;
	text-align: center;
	border-radius: 15px;
	margin-bottom: 0;
}
.msg{
	text-align: left;
	margin: auto;
	display: flex;
	padding: 0 50px;
	margin-bottom: 4%;
}
.msg:last-child{
	margin-bottom: 2%;
	margin-top: 4%;
}

.msg>img{
	width: 20%;
	flex: 1;
	position: relative;
	border-radius: 300px;
}
.multiple>img{
	border-radius: 10px;
}
.main-msg{
	flex: 2;
	font-family: sans-serif;
	padding:  7px 20px;
}

.main-msg>span{
	font-family: OpenSans-Light, sans-serif;
	font-weight: bold;
	font-size: 2em;
	color: #EF476F;

}
.multiple>span{
	font-size:1.8em;
}
.main-msg>p{
	font-size: 1.1em;
	font-family: sans-serif;
	text-align: justify;
}
.main-msg>p>span{
	font-size: 1.1em;
	font-family: Pacifico;
	text-align: justify;
	float: right;
}
hr{
	border: solid 1px #a3a3a3;
	width: 600px;
	margin-bottom: 4%;
}

.msg.multiple{
	padding: 0 10px;
}
.main-msg.multiple{
	padding-right: 20px;
	border-right: 2px solid #a3a3a3;
	margin-right: 3%;
}
.main-msg.multiple:last-child{
	border-right: 0;
	padding-right: 0;
	margin-right: 0;
}
.msg.multiple{
	margin-right: 0;
}
.main-msg.multiple>ul>li{
	font-size: 1.2em;
}
.main-msg.multiple>ul{
	padding-left: 30px;
}
.main-msg.multiple>ul>li>a{
	text-decoration: none;
}
.applynow>a>p{
	text-decoration: none;
	font-size: 15px;
	margin-left: 140px;
	font-weight: bold;
	font-family: OpenSans-Bold;
	display: inline-block;
}
.applynow{
	padding-top: 5px;
}
.applynow>a:hover{
	color: #EF476F;
}
.main-msg.multiple>a>img{
	width: 360px;
}
.main-msg.multiple>p{
	margin-top: 0px;
	padding-left: 25%;
}

.footer{
	width: 900px;
	background: rgb(23, 18, 40);
	padding: 2%;
}

.footer>.top{
	display: flex;
}
.footer>.top>.footerHead{
	text-align: left;
	font-family: pacifico;
	font-size: 2.2em;
	color: #EF476F;
	margin-right: 100px;
}
.footerHead>.contact{
	font-size: 1.4rem;
	font-family: OpenSans-Light, sans-serif;
	font-weight: bold;
	color: #fff;
	padding: 6px 40px;
	border-right: 2px solid #a3a3a3;
}
.contact_sub{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.contact_sub:last-child{
	margin-bottom: 0;
}
.foot:hover{
	color: #c3c3c3;
	cursor: pointer;
}
.fas, .far{
	margin-right: 20px;
	font-size: 1.5em;
}
.contact_sub>.fas:hover, .contact_sub>.far:hover{
	color: #00ffff;
	cursor: pointer;
}

.location>div{
	display: inline-block;
	vertical-align: baseline;
}
.sublinks{
	font-size: 1.4rem;
	font-family: OpenSans-Light,sans-serif;
	font-weight: bold;
	color: #fff;
	padding: 5px 40px;
	border-right: 2px solid #a3a3a3;
	padding-bottom: 1px;
}
.sublinks>ul{
	padding: 0;
}
.sublinks>ul>li>a{
	text-decoration: none;
	color: #fff;
}
.sublinks>ul>li>a:hover{
	color: #c3c3c3;
}
.credits{
	width: 900px;
	background: #000;
	padding: 1%;
}
.bottom>.bt_info{
	display: inline-block;
	margin-right: 60px;
	color: #decc8F;
}
.bottom>.contact_designer{
	display: inline-block;
}
.bottom>.contact-designer>.redirect{
	display: inline-block;
}
.contact_designer>a>i{
	font-size: 1.4em;
	margin-right: 5px;
	transition: 0.1s all;
}
.contact_designer>a>i:hover{
	text-decoration: none;
	transform: translateY(-2px);
}
.credits{
	padding: 5px;
}
.fa-facebook-square{
	color: #3b5998;
}
.fa-instagram{
	color: #EF476F;
}
.fa-linkedin{
	color: #0e76a8;
}
